<% bg = ["#398BCB", "#31D8B4", "#F9C55F", "#8F5FA8", "#F0796A"] %>

<div class="banner-container">
  <h1><span id="banner-typed-text"></span></h1>
  <br>
<button type="button" class="btn btn-lg btn btn-outline-primary" data-toggle="modal" data-target="#add-new-cocktail">
  Add new cocktail
</button>
</div>

<%= render 'modal' %>

<div class="cards">
  <% @cocktails.each do |c| %>
  <% unless c.photo.nil? %>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)),
         url('<%= cl_image_path c.photo%>')">
  <% end %>
    <%= c.name %>
    <%= link_to cocktail_path(c) do %>
    <span id="card-link"></span>
    <% end %>
  </div>
  <% end %>
</div>


