<% bg = ["#398BCB", "#31D8B4", "#F9C55F", "#8F5FA8", "#F0796A"] %>

<div class="banner-container">
  <h1><span id="banner-typed-text"></span></h1>
  <br>
  <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-lg btn btn-outline-primary" %>
</div>


<div class="cards">
  <% @cocktails.each do |c| %>
  <div class="card-category" style='background-color: <%= bg.sample %>'>
    <%= c.name %>
    <%= link_to cocktail_path(c) do %>
    <span id="card-link"></span>
    <% end %>
  </div>
  <% end %>

</div>
